<html>
    <head>
        <title> Contact Jason </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet" type="text/css">

    </head>
    
    <body  id='contact'>
        <div class ='container'>
            <div class ='row justify-content-center'>
                <div class = 'col-md-8'>  
                    <form action="/thanks" method="POST">
                            <div class='form-group'>
                                <label for="firstName">First Name:</label>
                                <input name="firstName" class='form-control' type="text"/>
                                <label for="lastName">Last Name:</label>
                                <input name="lastName" class='form-control' type="text"/>
                                <label for="email">Email:</label>
                                <input name="email" class='form-control' type="text"/>
                                <button type="submit" class='btn btn-primary btn-block'>Submit</button>
                            </div> 
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>