<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <title> Tom Thanks you </title>
    </head>

    <body  id='thanks'>
        <div class='container'>
            <h2 id='thanks_content'>Thank you <%= contact.firstName %> <%= contact.lastName %> for submitting your information.<h2>
        </div>
    </body>
</html>